{% extends 'base.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block body %}
    <h1>Create new Avis</h1>

    {{ include('af/_form.html.twig') }}

    <a href="{{ path('af_index') }}">back to list</a>
{% endblock %}
